input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.app {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    overflow: hidden;
    color: #fff;
    margin-bottom: 32px;
    -webkit-tap-highlight-color: transparent;
}

.chaos {
    animation: chaosAnim 1s linear;
}

@keyframes chaosAnim {
    0% {
        rotate: 0deg;
        filter: hue-rotate(0deg);
    }

    100% {
        rotate: 1080deg;
        filter: hue-rotate(1080deg)
    }
}

.chaos-old {
    animation: chaosAnim-old 3s linear;
}

@keyframes chaosAnim-old {
    0% {
        rotate: 0deg;
        filter: hue-rotate(0deg);
    }

    100% {
        rotate: 3600deg;
        filter: hue-rotate(3600deg);
    }
}