.block,
.about,
.tools,
.projects,
.find,
.find__gh-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block__container,
.tools__container,
.projects__container {
    margin-top: 80px;
    max-width: 800px;
}

.about,
.find__gh-container {
    flex-direction: row;
}

.find__gh-container {
    gap: 32px;
}