.block,
.about,
.tools,
.projects,
.find,
.do-not,
.find__gh-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block__container,
.tools__container,
.projects__container {
    margin-top: 80px;
    max-width: 800px;
}

.about,
.find__gh-container {
    flex-direction: row;
}

.find__gh-container {
    gap: 32px;
}

.find__form-container {
    margin-top: 60px;
    width: 100%;
    max-width: 800px;
}

.about {
    justify-content: space-evenly;
}

.btn {
    margin-top: 24px;
}

.do-not {
    margin: 200px 0px 20px 0px;
}

.do-not img {
    padding: 25px;
    cursor: pointer;
    transition: all 0.15s;
}

.do-not img:hover {
    rotate: 2deg;
    transform: scale(125%);
}