.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 128px;
    max-height: 128px;
}

.rotate {
    transition: all 0.15s;
}

.rotate:hover {
    rotate: 10deg;
}

.lens {
    transition: all 0.15s;
}

.lens:hover {
    transform: scale(85%);
}